@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Raleway', 'sans-serif';
}

body {
  font-family: var(--font-display);
  background-color: #F9F9F9;
}

@layer flex {
  .justify-between {
    @apply flex justify-between items-center
  }

  .justify-center {
    @apply flex justify-center items-center
  }
}

@layer form {
  .input-field {
    @apply border !border-gray-400 !rounded-[14px] !mb-1 !px-4;
  }

  /* Error - Cambia el borde a rojo */
  .ant-input-status-error.input-field {
    @apply !border-red-500;
  }

  .ant-form-item-explain {
    @apply !text-[12px] mb-3;
  }
}

